<a href="https://colab.research.google.com/github/vermaayush680/TransUnion-Data-Science-HackerEarth/blob/main/TransUnion_Modelling_and_Prediction(0.90).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score,roc_auc_score,roc_curve

In [5]:
df_new = pd.read_csv('train_finalized.csv')

In [6]:
df_new.head()

,Unnamed: 0,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score,No,Yes,Bad,Good,Standard
0,0,23,19114.12,1824.843333,3,4,3,4,3,7,...,26.822620,49.574949,80.415295,312.494089,1,1,0,0,1,0
1,1,23,19114.12,1824.843333,3,4,3,4,-1,7,...,31.944960,49.574949,118.280222,284.629162,1,1,0,0,1,0
2,2,23,19114.12,1824.843333,3,4,3,4,3,7,...,28.609352,49.574949,81.699521,331.209863,1,1,0,0,1,0
3,3,23,19114.12,1824.843333,3,4,3,4,5,4,...,31.377862,49.574949,199.458074,223.451310,1,1,0,0,1,0
4,4,23,19114.12,1824.843333,3,4,3,4,6,4,...,24.797347,49.574949,41.420153,341.489231,1,1,0,0,1,0

In [7]:
df_new.isnull().sum()

Unnamed: 0                  0
Age                         0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Total_EMI_per_month         0
Amount_invested_monthly     0
Monthly_Balance             0
Credit_Score                0
No                          0
Yes                         0
Bad                         0
Good                        0
Standard                    0
dtype: int64

In [69]:
df_new = df_new.drop(['Unnamed: 0'],axis=1)

# Modelling

Adding a random feature for feature selection

In [70]:
X = df_new.drop(['Credit_Score'],axis=1)
y=df_new['Credit_Score']

## Test Train Split

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20,random_state=42)

## Normalization and Scaling

In [72]:
scaler = preprocessing.StandardScaler()

In [73]:
normalized_x_train = pd.DataFrame(scaler.fit_transform(X_train),columns = X_train.columns)

## Modelling

In [74]:
DR = RandomForestClassifier(random_state=42)

In [75]:
DR.fit(normalized_x_train, y_train)

RandomForestClassifier(random_state=42)

In [76]:
normalized_x_test = pd.DataFrame(scaler.transform(X_test),columns = X_test.columns)

## Prediction

In [77]:
predicted = DR.predict(normalized_x_test)

In [78]:
predicted_proba = DR.predict_proba(normalized_x_test)

In [79]:
actual = y_test

In [80]:
f1_score(actual,predicted,average='macro')

0.7947576945432617

In [81]:
roc_auc_score(actual, predicted_proba, average='weighted',multi_class='ovr')

0.905163341949644

# Test Data Prediction

In [23]:
test_df = pd.read_csv('/content/test.csv')

In [24]:
test_df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

## Cleaning and PreProcessing Test Data

In [25]:
test_df.isnull().sum()

ID                             0
Customer_ID                    0
Month                          0
Name                        5015
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary       7498
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                5704
Delay_from_due_date            0
Num_of_Delayed_Payment      3498
Changed_Credit_Limit           0
Num_Credit_Inquiries        1035
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          4470
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     2271
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

Filtering only the columns used for training the model

In [26]:
test_df.isnull().sum()

ID                             0
Customer_ID                    0
Month                          0
Name                        5015
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary       7498
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                5704
Delay_from_due_date            0
Num_of_Delayed_Payment      3498
Changed_Credit_Limit           0
Num_Credit_Inquiries        1035
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          4470
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     2271
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

In [27]:
test_df = test_df.ffill()

In [28]:
cleanfunc = lambda a: str(a)[:-1] if str(a)[-1] == '_' else a

In [29]:
cleanfunc("24_")

'24'

In [30]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      50000 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     50000 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              50000 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    50000 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      50000 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        50000 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   50000 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           50000 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

## Converting type to integer

In [31]:
def applyfunc(col=None):
  test_df[col] = test_df[col].apply(cleanfunc)
  test_df[col] = test_df[col].apply(pd.to_numeric)

In [32]:
applyfunc('Age')

In [33]:
applyfunc('Annual_Income')

In [34]:
applyfunc('Num_of_Loan')

In [35]:
applyfunc('Num_of_Delayed_Payment')

In [36]:
applyfunc('Changed_Credit_Limit')

In [37]:
test_df['Changed_Credit_Limit'] = test_df['Changed_Credit_Limit'].ffill()

In [38]:
applyfunc('Outstanding_Debt')

In [39]:
test_df['Amount_invested_monthly'] = test_df['Amount_invested_monthly'].replace({'__10000__':np.nan})

In [40]:
test_df['Amount_invested_monthly'] = test_df['Amount_invested_monthly'].ffill()

In [41]:
applyfunc('Amount_invested_monthly')

In [42]:
test_df['Monthly_Balance'] = test_df['Monthly_Balance'].replace({'__-333333333333333333333333333__':np.nan})

In [43]:
test_df['Monthly_Balance'] = test_df['Monthly_Balance'].ffill()

In [44]:
applyfunc('Monthly_Balance')

In [45]:
test_df['Random_Col'] = np.random.random(test_df.shape[0])

In [46]:
def fillvalues1(data=None,col=None):
  data[col] = data[col].fillna('NAN')
  for i in range(data.shape[0]):
    if data.loc[i,col] == 'NAN':
      j=i
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        j=i-1
      else:
        j=i+1
      data.loc[i,col]=data.loc[j,col]
  return data

In [47]:
test_df['Credit_Mix'] = test_df['Credit_Mix'].replace({'_':np.nan})

In [48]:
test_df['Credit_Mix'].isnull().sum()

9805

In [49]:
test_df = fillvalues1(data=test_df,col='Credit_Mix')

In [50]:
test_df['Credit_Mix'].isnull().sum()

0

In [51]:
test_df[test_df['Credit_Mix']=='NAN']

Empty DataFrame
Columns: [ID, Customer_ID, Month, Name, Age, SSN, Occupation, Annual_Income, Monthly_Inhand_Salary, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Num_of_Loan, Type_of_Loan, Delay_from_due_date, Num_of_Delayed_Payment, Changed_Credit_Limit, Num_Credit_Inquiries, Credit_Mix, Outstanding_Debt, Credit_Utilization_Ratio, Credit_History_Age, Payment_of_Min_Amount, Total_EMI_per_month, Amount_invested_monthly, Payment_Behaviour, Monthly_Balance, Random_Col]
Index: []

[0 rows x 28 columns]

In [52]:
test_df['Payment_of_Min_Amount'].unique()

array(['No', 'Yes', 'NM'], dtype=object)

In [53]:
test_df['Payment_of_Min_Amount'] = test_df['Payment_of_Min_Amount'].replace({'NM':np.nan})

In [54]:
test_df['Payment_of_Min_Amount'].isnull().sum()

5993

In [56]:
def fillvalues(data=None,col=None):
  data[col] = data[col].fillna('NAN')
  for i in range(data.shape[0]):
    if data.loc[i,col] == 'NAN':
      j=i+1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        while(data.loc[j,col] == 'NAN'):
          j+=1
        data.loc[i,col]=data.loc[j,col]

  for i in range(data.shape[0]):
    if data.loc[i,col] == 'NAN':
      j=i-1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        data.loc[i,col]=data.loc[j,col]
  return data

In [57]:
test_df = fillvalues(data=test_df,col='Payment_of_Min_Amount')

In [58]:
test_df['Payment_of_Min_Amount'].isnull().sum()

0

In [59]:
dummies = pd.get_dummies(test_df['Payment_of_Min_Amount'])

In [60]:
test_df['No'] = dummies['No']
test_df['Yes'] = dummies['Yes']

In [61]:
dummies = pd.get_dummies(test_df['Credit_Mix'])

In [62]:
dummies.columns

Index(['Bad', 'Good', 'Standard'], dtype='object')

In [63]:
test_df['Bad'] = dummies['Bad']
test_df['Good'] = dummies['Good']
test_df['Standard'] = dummies['Standard']

In [82]:
test_df = test_df[X_train.columns]

In [84]:
normalized_x_test = pd.DataFrame(scaler.transform(test_df),columns = test_df.columns)

In [85]:
predicted = DR.predict(normalized_x_test)

In [86]:
predicted

array([ 1,  1,  1, ..., -1, -1, -1])

### Loading the test data again for getting ID!!

In [87]:
df_test = pd.read_csv('/content/test.csv')

In [88]:
df_test.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

## Getting the Predictions as the Sample Submission Format

In [89]:
output = pd.DataFrame({
    'ID':df_test['ID'],
    'Credit_Score':predicted
})

In [90]:
output.head()

       ID  Credit_Score
0  0x160a             1
1  0x160b             1
2  0x160c             1
3  0x160d             1
4  0x1616             1

### Decoding the Credit Score

In [91]:
output['Credit_Score'] = output['Credit_Score'].replace({1:'Good',0:'Standard',-1:'Poor'})

In [92]:
output.head()

       ID Credit_Score
0  0x160a         Good
1  0x160b         Good
2  0x160c         Good
3  0x160d         Good
4  0x1616         Good

## Saving the Output

In [93]:
output.to_csv('output.csv')